/* 共通スタイルは外に書く */
.titleBox,.matchList,.calcBox,.resetBox{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.titleBox{
  top: 40%;
}

.matchList{
  top: 50%;
  display: flex;
}

.matchImg{
  height: 80px;
  object-fit: cover;
}

.calcBox{
  top: 60%;
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 2rem;
}

.resetBox{
  top: 70%;
}
@media screen and (min-width: 960px) { /* pc用スタイル */
  .title{
    font-size: 2.0rem;
  }
}
@media screen and (max-width: 959px) { /* sp用スタイル */
  .title{
    font-size: 1.2rem;
  }
}